<!DOCTYPE html>
<html>
    <head>
        <title>Musical Metadata: Years</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <div id="Navigation">
        <p><a href="/" rel="AllMetada">Metadata Home</a> | <a href="/artists/" rel="AllArtists">All Artists</a> | <a href="/albums/" rel="AllAlbums">All Albums</a> | <a href="/tracks/" rel="AllTracks">All Tracks</a> | <a href="/genres/" rel="AllGenres">All Genres</a> | <a href="/formats/" rel="AllFormats">All Formats</a> | All Years</p>
        </div>

        <h1>Years</h1>
            <% if (items.length > 0) { %>
                <ul id="Years">
                    <% items.forEach(function(item) { %>
                        <li itemscope itemtype="http://schema.org/MusicRecording" class="SpecificYear"><a itemprop="URL" rel="year" href="/years/<%=item._id%>"><span itemprop="name"><%=item.name%></span></a></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <div>No years have been added.</div>
            <% } %>


        <div id="Search">

           <h2>Search for years</h2>

            <form method="get" id="SearchYears" action="/years/">
             <label>Years: <input name="name"></label>
             <input type="submit" value="Search" name="SubmitButton" />
            </form>

        </div>

    <div>

      <h2>Add or update a new year</h2>
      <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>

      <form method="post" id="NewYearValue" action="/years/"
            onsubmit="return onFormSubmit(this);">
        <input type="hidden" name="_method" value="put">
        <label>Year ID:
          <input name="item[id]" type="text" pattern="[0-9]{4}+" required
                 placeholder="1998">
        </label>
        <label>Format Name: 
          <input name="item[name]" type="text" required
                 placeholder="1998">
        </label>
        <button>Add or update</button>
      </form>

    </div>

    </body>
</html>